.member {
	section {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		article {
			width: 31%;
			margin-bottom: 40px;

			//자주 쓰이는 패턴
			//먼저 .pic으로 이미지가 들어갈 프레임 크기를 지정
			.pic {
				width: 100%;
				height: 300px;
				margin-bottom: 20px;

				//이후 안쪽 이미지 요소는 무조건
				//너비와 높이를 100%로 설정한 뒤 object-fit:cover 지정
				//그럼 pic프레임의 크기에 맞게 이미지가 박스 안쪽에 꽉 차셔 배치됨
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			h3 {
				font: bold 1.2rem/1 'arial';
				color: #555;
				margin-bottom: 10px;
			}
		}
	}
}
