header {
	width: 100%;
	padding: 30px 10vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #bbb;

	.logo {
		font-size: 1.4rem;
	}

	.gnb {
		font-size: 1rem;
		display: flex;
		gap: 30px;
	}

	&.main {
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 3;
		border-bottom: 1px solid #777;
	}
}
